@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);


/*************************
******Genereal Custom*****
**************************/

.section-title h2 {
  font-size: 42px;
  padding: 60px 0px 60px 0px;
  margin: 0px;
  color: #c8190f;
  text-align: center;
}

.vertical-allign {
  /*display: flex;*/
  /*justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.vertical-center {

}

.horizontal-allign {
  margin: auto;
}

.hide {
  display: none;
}

.centermiddle {
  z-index: 0;
  display: block;
  left: 50%;
  top: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  opacity: 0.05;
  height: 70% !important;
  width: auto !important;
  overflow: hidden;
}

/*************************
*******Typography******
**************************/

body {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 14px;
  color: #fff
}


.btn {
  border-radius: 0;
  font-family: 'Open Sans', 'sans-serif';
  font-size: 17px;
  padding: 9px 23px;
  background-color: #fff;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus,
a:hover {
  text-decoration: none;
  outline: none
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 300;
  text-shadow: none;
}

h2 {
  font-size: 25px
}

.accent {
  color:#c8190f;
}

.small-text {
  font-size: 10px;
}


/*************************
*******Header CSS******
**************************/

.scrolling-navbar {
  position: absolute;
  width: 100%;
  z-index: 999;
}

.scrolling-navbar.container {
  width: 100%;
  left: 0;
}

.social-icons a {
  font-size: 18px;
  color: #fff;
  padding-left:20px;
  text-align: center;
}

.navbar-right {
  padding: 5px 0px 5px 0px;
  list-style: none;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: rgba(14,14,14,0.80);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

li {
  display: inline;
}

.navbar-right li a {
  margin: 25px 21px;
  padding: 2px 7px;
  font-size: 18px;
  color: #c8190f;
  font-family: 'Open Sans', 'sans-serif';
  font-weight: 300;
  text-decoration: none;
  text-shadow:inherit;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(14,14,14,0);
}

.navbar-right li a:hover,
.navbar-right li a:focus,
.navbar-right .active a {
  border-style: solid;
  border-width: 1px;
  border-color: #c8190f;
}

.nav-logo {
  /*background-image: url("../images/cutx-logo-100.png");*/
  height: 25px;
  padding-bottom: 3px;
  margin: 6px 20px 6px 20px;
}

.navbar-right .hide-border a{
  border-width: 0px;
  border-style: none;
}
.navbar-right .hide-border a:hover{
  border-width: 0px;
  border-style: none;
}

/* Hide scrollbar */
.scrolling-navbar ul::-webkit-scrollbar {
  display: none;
  width: 0!important;
}

.navbar-right .header-tickets a{
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  color: #fff;
}

.navbar-right .header-tickets a:hover{
  border-style: solid;
  border-width: 1px;
  border-color: #c8190f;
  color: #c8190f;
}




/*************************
*******Home CSS******
**************************/
#home {
  height: 100%;
  text-align: center;
}

#home
.home-content {
  height: 100vh;
  width: 100%;
  background-image: url("../images/ImagineBackground.jpg");
  background-size: cover;
  /*background-position: 40% 50%;*/
  background-position: 50% 50%;
  position: relative;
}

.caption {
  z-index: 998;
  /*background: none repeat scroll 0 0 #000000;*/
  /*margin-top: 15%;*/
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-left: 20px;
  padding-right: 20px;
  transform: translateX(-50%) translateY(-50%);
   /* Firefox 16+, IE 10+, Opera */
  transform: translateX(-50%) translateY(-50%);
    /* Chrome, Opera 15+, Safari 3.1+ */
  -webkit-transform: translateX(-50%) translateY(-50%);
    /* IE 9 */
  -ms-transform: translateX(-50%) translateY(-50%);
}

.caption img {
  padding-bottom: 1%
}

#home h1 {
  font-family: 'Arial', 'sans-serif';
  font-size: 90px;
  color: #b3160d;
  font-weight: 500;
  letter-spacing: 20px;
  padding: 0px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: -20px;
}

#home h3 {
  font-size: 18px;
  color: #b3160d;
  letter-spacing: 5px;
}

#home h4 {
  font-size: 18px;
  color: #7D878A;
  top: 0px;
}

#home h5 {
  color: #7D878A;
  padding-top: 25px;
}

#home a {
  font-size: 20px;
}

#home a.facebook-event {
  font-size: 18px;
  color: #fff;
}

#home a:hover {
  color: #b3160d
}

#home a i {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#home p {
  padding: 10px 25px 10px 25px;
  color: #fff;
  margin: 1px;
}

#home .announcements {
  margin-top: 40px;
  display: inline-block;
}

#home .announcement1 {
  background-color: #8B0E00;
  background-image: url("../images/announcement-bg.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat:no-repeat;
  position: relative;
}

#home .announcement2 {
  background-color: #6E0B02;
  /*background-color: rgba(110, 11, 2, 0.4);*/
  background-image: url("../images/announcement-bg.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat:no-repeat;
  position: relative;
}

#home .announcement3 {
  background-color: #530802;
  /*background-color: rgba(139, 14, 0, 0.4);*/
  background-image: url("../images/announcement-bg.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat:no-repeat;
  position: relative;
}

.buy-tickets {
  display: inline-block;
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 40px;
  padding: 5px 40px 5px 40px;
  color: #fff;
  width: 100%;

  background-color: #000;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;

}

.facebook-event {
  display: inline-block;
  font-size: 0.5em;
  padding: 7px 30px 7px 30px;
  width: 100%;
  
  background-color: #435E9F;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;

}

#home a.buy-tickets:hover {
    -webkit-animation: colorFade 5s linear infinite;
       -moz-animation: colorFade 5s linear infinite;
         -o-animation: colorFade 5s linear infinite;
            animation: colorFade 5s linear infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes colorFade {
  0%   { color: #b3160d; border-color: #b3160d; }
  50%  { color: #FFFFFF; border-color: #FFFFFF; }
  100% { color: #b3160d; border-color: #b3160d; }
}
@-moz-keyframes colorFade {
  0%   { color: #b3160d; border-color: #b3160d; }
  50%  { color: #FFFFFF; border-color: #FFFFFF; }
  100% { color: #b3160d; border-color: #b3160d; }
}
@-o-keyframes colorFade {
  0%   { color: #b3160d; border-color: #b3160d; }
  50%  { color: #FFFFFF; border-color: #FFFFFF; }
  100% { color: #b3160d; border-color: #b3160d; }
}
@keyframes colorFade {
  0%   { color: #b3160d; border-color: #b3160d; }
  50%  { color: #FFFFFF; border-color: #FFFFFF; }
  100% { color: #b3160d; border-color: #b3160d; }
}


#home a.facebook-event:hover {
    -webkit-animation: colorFadeBlue 5s linear infinite;
       -moz-animation: colorFadeBlue 5s linear infinite;
         -o-animation: colorFadeBlue 5s linear infinite;
            animation: colorFadeBlue 5s linear infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes colorFadeBlue {
  0%   { color: #FFFFFF; border-color: #FFFFFF; }
  50%  { color: #758ec8; border-color: #758ec8; }
  100% { color: #FFFFFF; border-color: #FFFFFF; }
}
@-moz-keyframes colorFadeBlue {
  0%   { color: #FFFFFF; border-color: #FFFFFF; }
  50%  { color: #758ec8; border-color: #758ec8; }
  100% { color: #FFFFFF; border-color: #FFFFFF; }
}
@-o-keyframes colorFadeBlue {
  0%   { color: #FFFFFF; border-color: #FFFFFF; }
  50%  { color: #758ec8; border-color: #758ec8; }
  100% { color: #FFFFFF; border-color: #FFFFFF; }
}
@keyframes colorFadeBlue {
  0%   { color: #FFFFFF; border-color: #FFFFFF; }
  50%  { color: #758ec8; border-color: #758ec8; }
  100% { color: #FFFFFF; border-color: #FFFFFF; }
}



/*************************
*******About CSS**********
**************************/

#about {
  background-color: #fff;
  position: relative;
  display: flex;

  background-image: url("../images/circuits-side-right.png");
  background-position: right;
  background-size: auto 100%;
  background-repeat:no-repeat;
  position: relative;
  background-attachment: fixed;
}

.about-content {/*
  background-image: url("../images/about-bg.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;*/
  padding: 0% 10% 70px 10%;
}

.about-section {
  padding-bottom: 20px;
}


.about-section img{
  margin: 0 auto;
  max-height: 300px;
}

.about-icon-row img {
  height: 100px;
  margin-top: 40px;
}

#about a {
  text-decoration: underline;
  color:#c8190f;
}

#about h3 {
  font-size: 20px;
  color: #c8190f;
  display: block;
  margin-top: 0px;
}

#about p {
  color: #000000;
}

#aboutTabs a{
  text-decoration: none;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(14,14,14,0);
}

#aboutTabs li {
  float: center;
}

#about .active div{
  padding-top: 10px;
}

#about .active a{
  border-style: solid;
  border-width: 1px;
  border-color: #c8190f;
  border-radius: 0;
}

/*************************
****** Mail Signup CSS ***
**************************/

#mail-signup-1 {
  /*background-color: #4A4A4A;*/
  background-color: #fff;
  background-image: url("../images/circuits-side-left.png");
  background-size: 100%;
  background-repeat:no-repeat;
  position: relative;
  background-attachment: fixed;

  padding: 15px 10% 20px 10%;
}

#mail-signup-1 h3 {
  text-align: center;
  color: #c8190f;
}

#mail-signup-1 p {
  text-align: center;
  color: #000;
}

#mail-signup-1 .subtle {
  text-align: center;
  color: #bbb;
  font-size: 12px;
}



/*************************
*******Countdown CSS******
**************************/

#explore {
  background-color: #C34C39;
  background-image: url("../images/faq-bg.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat:no-repeat;
  position: relative;
  overflow: hidden;
  padding: 20px 0 30px;
}

#explore h3 {
  text-align: center;
}

#explore p {
  text-align: center;
}

#explore .subtle {
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding-bottom: 10px;
}

#explore h2 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

#countdown {
  display: block;
  overflow: hidden;
  text-align: center;
  /*margin: 15px 0px 15px 0px;*/
}

#countdown p {
  margin-bottom: 0px;
}

#countdown ul {
  padding-left: 0px;
}

#countdown li {
  list-style: none;
  display:inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0px 10px 0px 10px;
}

#countdown li:last-child {
  margin-right: 0
}

#countdown li span {
  display: block;
  font-size: 30px;
}

.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/*************************
*******Countdown CSS******
**************************/

#testimonials {
  padding-bottom: 70px;
  display: block;

  background-image: url("../images/circuits-side-right.png");
  background-position: right;
  background-size: auto 100%;
  background-repeat:no-repeat;
  position: relative;
  background-attachment: fixed;
}

#testimonials p {
  display: inline-block;
  vertical-align: center;
  line-height: normal;
  color: #000;
  align-items: center; /* align vertical */
  text-align: center;
}

.scrolling-container {
  white-space: nowrap;
  overflow-x: scroll;
  width: 100%;
  padding: 0% 22% 0% 22%;
  vertical-align: top;
  margin: 0 auto;
}

.scrolling-container article {
  display: inline-block;
  overflow: visible;
  text-align: center;
  vertical-align: top;
}

#testimonials img {
  border-radius: 50%;
  height: 200px;
  padding: 15px;
}

.testimonial-article {
  /*margin-top: 8%;*/
  white-space: normal;
}


/*************************
******Twitter CSS****
**************************/

#twitter {
  background-color: #fff;
  /*position: relative;*/
  padding: 0px 0 70px;
  overflow: hidden;

  background-image: url("../images/circuits-side-right.png");
  background-position: right;
  background-size: auto 100%;
  background-repeat:no-repeat;
  position: relative;
  background-attachment: fixed;
}

.twit {
  position: absolute;
  left: 0;
  top:-42%;
}

#twitter-feed .item {
  text-align: center;
  padding: 10px;
}

#twitter-feed .item img {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  padding: 5px;
  margin-bottom: 30px;
}

 #twitter-feed .item a,
#twitter-feed .item p {
  font-family: 'Arial', 'sans-serif';
}

#twitter-feed .item p {
  color: #3D3D3D;
  padding: 0 40px 0 40px;
}

#twitter-feed .item a {
  color:#C34C39;
}

.twitter-control-left,
.twitter-control-right {
  position: absolute;
  color: #C34C39;
  top: 59%;
  font-size: 50px;
}

.twitter-control-left:hover,
.twitter-control-right:hover,
.twitter-control-left:focus,
.twitter-control-right:focus {
  position: absolute;
  color: #C34C39;
  top: 59%;
  font-size: 50px;
}

.twitter-control-left {
  left: 0;
  padding-left: 30px;
}

.twitter-control-right {
  right:0;
  padding-right: 30px;
}




 /*************************
*******Speakers CSS******
**************************/
#speakers {
  /*background-color: #C34C39;*/
  background-color: #fff;
  /*background-image: url("../images/speakers-bg.jpg");*/
  /*background-position: 50% 0;*/
  /*position: relative;*/
  /*background-repeat: repeat;*/
  padding-bottom: 70px;
  padding-left: 10%;
  padding-right: 10%;

  background-image: url("../images/circuits-side-right.png");
  background-position: right;
  background-size: auto 100%;
  background-repeat:no-repeat;
  position: relative;
  background-attachment: fixed;
}

.speakers-content {
  margin: 0px;
  width: 100%;
}

#speakers img {
  border-radius: 50%;
  margin: auto;
}

#speakers img {
    -webkit-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -ms-transition: all 0.25s linear;
    -kthtml-transition: all 0.25s linear;
    transition: all 0.25s linear;
}

#speakers img:hover {
    -webkit-filter: sepia(0.2);
    filter: sepia(0.2);
    box-shadow: 0 0 0 2px #C34C39;
}

#speakers h2 {
  color: #C34C39;
}

.single-speaker {
  margin-bottom: 40px;
  text-align: center;
}

.single-speaker h4 {
  color: #C34C39;
  font-size: 24px;
  line-height: 26px;
  margin-top: 25px;
}

.single-speaker h5 {
  color: #000;
  font-size: 15px;
  margin-bottom: 3px;
}




/*************************
****** Speaker Modal *****
**************************/
#speaker-modal h4 {
  color: #C34C39;
  font-size: 24px;
  line-height: 26px;
  margin-top: 25px;
}

#speaker-modal h5 {
  color: #000;
  font-size: 15px;
  margin-bottom: 3px;
}

#speaker-modal a {
  color: #C34C39;
  opacity: 1;
}

#speaker-modal span {
  color: #C34C39;
  font-size: 30px;
}

#speaker-modal p {
  color: #000;
}



/*************************
****** Static-Photo CSS ****
**************************/
#static-photo {
  background-image: url("../images/CUTC-2010-9.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right top;
  padding: 15% 5% 15% 5%;
}

#static-photo h1{
  font-size: 40px;
  text-align: center;
  margin: 0px 0px 40px 0px;
  padding-top: 10px;
}

#static-photo h2{
  font-size: 30px;
  text-align: center;
  margin: 0px;
  padding-top: 10px;
}

#static-photo .row {
  margin: auto;
  text-align: center;
}

#static-photo img {
  max-height: 160px;
  margin: 20px;
}


/*************************
****** Events CSS ****
**************************/

#events {
  background-color: #fff;
  position: relative;
  width: 100%;
  display: flex;
  padding-bottom: 70px;

  background-image: url("../images/circuits-side-left.png");
  background-position: left;
  background-size: auto 100%;
  background-repeat:no-repeat;
  position: relative;
  background-attachment: fixed;
}

#events a {
  text-decoration: underline;
  color:#c8190f;
}

#events p {
  font-size: 1em;
  color: #000000;
}

#events .grey h4{
  color: #4A4A4A;
}

.whycons {
  margin-bottom: 0px;
  padding-left: 80px;
  padding-right: 80px;
}

.whycons p {
  padding-bottom: 20px;
  padding-top: 10px;
}

.whycons h2 {
  padding-left: 0px;
  color: #c8190f;
}

#events h3 {
  font-size: 25px;
  color: #c8190f;
}

#events h4 {
  line-height: 40px;
  font-size: 25px;
  color: #c8190f;
  padding-left: 10px;
}

.whycons img {
  height: 60px;
  width: 60px;
  /*margin-left: 20px;*/
}





/*************************
****** Mail Signup CSS ***
**************************/

#mail-signup {
  /*background-color: #4A4A4A;*/
  background-color: #fff;
  overflow: hidden;

  background-image: url("../images/circuits-side-left.png");
  background-position: left;
  background-size: auto 100%;
  background-repeat:no-repeat;
  position: relative;
  background-attachment: fixed;

  padding: 15px 10% 20px 10%;
}

#mail-signup h3 {
  text-align: center;
  color: #c8190f;
}

#mail-signup p {
  text-align: center;
  color: #000;
}

#mail-signup .subtle {
  text-align: center;
  color: #bbb;
  font-size: 12px;
}

#mc_embed_signup {  
  clear:left; 
  font:14px
}




/*************************
******FAQ CSS****
**************************/

#faq {
  background-color: #C34C39;
  background-image: url("../images/faq-bg.png");
  background-position: center bottom;
  background-repeat:repeat-y;
  position: relative;
  overflow: hidden;
  padding: 15px 10% 70px 10%;
}

#faq h2 {
    color: #fff;
}

#faq h4{
  font-weight: bold;
  color: #eee;
}

#faq p{
  padding-bottom: 20px;
}

#faq .one-faq {
  padding-left: 30px;
  padding-right: 30px;
}

#faq a {
  color: #eebab7;
  text-decoration: underline;
}

#faq a:hover {
  color:#630c07
}




/*************************
******Sponsors CSS****
**************************/

#sponsors {
  /*background-color: #1e1e1e;*/
  background-color: #fff;
  background-image: url("../images/circuits-sides-both.png");
  background-size: 100%;
  background-repeat:no-repeat;
  position: relative;
  background-attachment: fixed;
  padding: 15px 0 70px 0;
}

#sponsors h2 {
  /*color: #fff;*/
}

#sponsors img {
  padding: 20px;
  margin: auto;
  display: block;
  max-width: 300px;
}

#sponsors p {
  padding-top: 30px;
  text-align: center;
  color: #000;
}

#sponsors h4 {
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  color: #000;
  font-weight: bold;
}

#sponsors a {
  color: #c8190f;
  text-decoration: underline;
}

#sponsors a:hover {
  color:#630c07
}

#sponsors .row {
  margin-bottom: 20px;
}

#sponsors .title img{
  height: 175px;
}

#sponsors .silver img{
  max-height: 130px;
}

#sponsors .bronze img{
  max-height: 100px;
}

#sponsors .in-kind img{
  max-height: 85px;
}

#sponsors .past img{
  max-height: 85px;
}

#sponsors .partners img{
  max-height: 130px;
}

/*************************
******Subsidy CSS****
**************************/
#subsidy {
  padding: 70px 70px 70px 70px;

}

#subsidy h3 {
  color: #000;
}

#subsidy p {
  color: #000;
}

#page-title {
  padding: 130px 70px 70px 70px;
  width: 100%;
  height: 300px;
  background-image: url("../images/coins.jpg");
  background-size: cover;
  /*background-position: 40% 50%;*/
  background-position: 50% 50%;
  position: relative;
}

#page-title h2 {
  font-size: 42px;
  color: #fff;
  text-align: center;
}


/*************************
******Team CSS****
**************************/

#team-photo{
  background-image: url("../images/team.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right top;
  padding: 0%;
}

#team {
  background-color: #fff;
  position: relative;

  background-image: url("../images/circuits-sides-both.png");
  background-size: 100%;
  background-repeat:no-repeat;
  position: relative;
  background-attachment: fixed;
}

#team a {
  text-decoration: none;
  color:#c8190f;
}

#team a:hover {
  color:#630c07
}

#team h3 {
  font-size: 20px;
  color: #c8190f;
  display: block;
  margin-top: 0px;
}

#team p {
  color: #000000;
}

#teamTabs a{
  text-decoration: none;
  background-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(14,14,14,0);
}

#teamTabs li {
  float: center;
}

#team .active a{
  border-width: 1px;
  border-color: #c8190f;
  border-radius: 0;
}

#members{
  margin: 0 150px 0 150px;
  padding:25px 0 25px 0;
}

#team .text{
  color: #c8190f;
  text-align: center;
  padding:0 0 25px 0;
}

#team .text-title{
  padding:0;
  margin:0;
  font-size:125%;
}

#team .text-desc{
  padding:0;
  margin:0;
}

.membNav{
  padding:0 0px 0px 0;
}

.myCol{
  padding:0;
}

.team-title{
  font-size: 42px;
  padding: 60px 0px 0px 0px;
  margin: 0px;
  color: #c8190f;
  text-align: center;
}

.team-desc{
  padding: 0px 0px 30px 0px;
  color: white;
  width: 75%;
}

.member{
  padding:0;
}


/*************************
******Contact CSS****
**************************/

#contact {
  background-color: #C34C39;
  background-image: url("../images/faq-bg.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat:no-repeat;
  position: relative;
  overflow: hidden;
  padding: 15px 15px 30px;
}

#contact h3 {
  color: #fff;
  text-align: center;
}

#contact p{
  font-size: 14px;
  text-align: center;
}

#contact a {
  color: #eebab7;
  text-decoration: underline;
}

#contact a:hover {
  color:#630c07
}

#contact
.signup-form {
  margin: auto;
  width: 18em;
  text-align: center;
}

.social-icons
.fa-facebook,
.fa-twitter,
.fa-google-plus,
.fa-youtube,
.fa-instagram,
.fa-envelope{
  /*color: #c8190f*/
  color: #fff;
  padding-top: 20px;
  font-size: 1.5em;
}

.social-icons
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus:hover,
.fa-youtube:hover,
.fa-instagram:hover,
.fa-envelope:hover {
  color: #630c07
}

.copyright p{
  color: #eebab7;
}


/*************************
******Footer CSS****
**************************/

#footer {
  background-color: #212121;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  padding: 20px 0 20px;
  text-align: center;
  height: auto;
}

#footer a {
  color:#c8190f
}

#footer a:hover {
  color:#630c07
}

.footer-top {
  display: block;
  overflow: hidden;
}
