@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);


/*************************
******Genereal Custom*****
**************************/

.section-title h2 {
  font-size: 42px;
  color: #c8190f;
  padding: 20px;
}

.vertical-allign {
  display: flex;
  /*justify-content: center; /* align horizontal */*/
  align-items: center; /* align vertical */
}


/*************************
*******Typography******
**************************/

body {
  font-family: 'Dosis', sans-serif;
  font-size: 17px;
  color: #fff
}


.btn {
  border-radius: 0;
  font-family: 'Yanone Kaffeesatz','sans-serif';
  font-size: 20px;
  padding: 9px 23px;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus, 
a:hover {
  text-decoration: none;
  outline: none
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 300;
  text-shadow: none;
}

h2 {
  font-size: 36px
}

.accent { 
  color:#c8190f; 
}

.navbar-toggle {
  margin-top: 12px
}

.navbar-toggle .icon-bar {
  background-color: #c8190f;
}

.navbar-toggle, 
.navbar-toggle:focus {
  border:1px solid #fff;
  outline: none;
}

.nav-pad {
  margin-top: 20px;
}


/*************************
*******Header CSS******
**************************/

.header-top {
  display: block;
  overflow: hidden;
  padding: 50px;
}

.main-nav {
  position: absolute;
  width: 100%;
  z-index: 999;
}

.main-nav 
.container {
  width: 100%
}

.social-icons a {
  font-size: 18px;
  color: #fff;
  padding-left:20px;  
  text-align: center;
}

.navbar-brand {
  opacity: 1;
  height: 90px;
  margin: 20px;
  position: relative;
  width: 297px;
}

.navbar-brand img {
  position: absolute;
  top: -10px;
  left: 35px;
}

.navbar-right {
  padding:0 95px 0 0;
  opacity: .9
}

.navbar-right li a {
  padding: 25px 21px;
  font-size: 18px;
  color: #c8190f;
  font-family: 'Arial', 'sans-serif';
  font-weight: 300;
}

.navbar-right li a:hover, 
.navbar-right li a:focus,  
.navbar-right .active a {
  color: #3b0704
}


.fixed-menu {
  background-color: #fff;
  opacity: 0.8;
  position: fixed;
  top: 0;
}

.fixed-menu .navbar-right {
  padding: 0;
}


.fixed-menu .navbar-right li a {
  font-size: 18px;
  padding: 20px 25px;
  text-shadow:inherit;
  color: #c8190f;
  text-decoration: none;
}

.fixed-menu .navbar-right li a:hover, 
.fixed-menu .navbar-right li a:focus,  
.fixed-menu .navbar-right .active a {
  color: #3b0704;
}

.fixed-menu .navbar-brand {
  height: 60px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  width: 125px;
}

.fixed-menu .navbar-brand img {
  height: 45px;
  top: 5px;
}

.fixed-menu .header-top {
  display: none;
}



/*************************
*******Home CSS******
**************************/
#home {
  height: 100%;
  text-align: center;
}

#home 
.home-content {
  height: 98vh;
  width: 100%;
  background-image: url("../images/Toronto11.jpg");
  background-size: cover;
  /*background-position: 40% 50%;*/
  background-position: 30% 20%;
  position: relative;
}

.caption {
  /*background: none repeat scroll 0 0 #000000;*/
  margin-top: 200px;
}

#home h1 {
  font-family: 'Arial', 'sans-serif';
  font-size: 90px;
  color: #b3160d;
  font-weight: 500;
  letter-spacing: 5px;
  padding: 0px;
  margin: auto;
}

#home h2 {  
  font-family: 'Arial', 'sans-serif';
  font-size: 30px;
  color: #d85e57;
  margin: auto;
}

#home h4 {
  font-size: 24px;
  color: #c8190f;
}

#home a {
  font-size: 22px;
  color: #c8190f
}

#home a:hover {
  color: #b3160d
}

#home a:hover i {
  margin-left: 35px
}

#home  a i {
  margin-left: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#home 
.signup-form {
  margin: auto;
  width: 18em;
}


/*************************
*******About CSS**********
**************************/

#about {
  background-color: #fff;  
  position: relative;  
  width: 100%;
  display: flex;
}

.about-content {/*
  background-image: url("../images/about-bg.jpg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;*/
  padding: 0px 70px 70px;
}

.about-section {
  padding-bottom: 30px;
}

#about a {
  text-decoration: underline;
  color:#c8190f; 
}

#about h3 {
  font-size: 25px;
  color: #c8190f;
  display: block;
}

#about p {
  font-size: 18px;
  color: #000000;
}


/*************************
*******Countdown CSS******
**************************/

#explore {
  background-color: #C34C39;
  /*background-image: url("../images/event-bg.jpg");*/
  background-position: center bottom;
  background-size: contain;
  background-repeat:no-repeat;
  position: relative;
  overflow: hidden;
  padding: 15px 0 15px;
}

#explore h2 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
}

#countdown {
  display: block;
  overflow: hidden;
  text-align: center;
  padding: 0
}

#countdown li {
  list-style: none;
  display:inline-block;
  margin-right: 40px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
}

#countdown li:last-child {
  margin-right: 0
}

#countdown li span {
  display: block;
  font-size: 40px;
  font-weight: 700;
  height: 60px;
  line-height: 79px;
  width: 75px;
  border-radius: 10px;
}

 

 /*************************
*******Speakers CSS******
**************************/
#speakers {
  background-color: #C34C39;
  background-image: url("../images/speakers-bg.jpg");
  background-position: 50% 0;
  position: relative;
  background-repeat: repeat;
  padding-bottom: 70px;
}

.speakers-content {
  padding: 0px 70px 70px;
}

#speakers h2 {
  color: #FFFFFF;
}

.single-speaker {
  margin-bottom: 40px;
}

.single-speaker h4 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 25px;
}


.single-speaker h5 {
  font-size: 18px;
  font-weight: 100;
  display: block;
}

.even-control-left, 
.even-control-right {
  position: absolute;
  font-size: 24px;
  color: #fff;
  top: 0;
}

.even-control-left {
  right: 3%
} 

.even-control-right {
  right: 0;
}



/*************************
****** Static-Photo CSS ****
**************************/
#static-photo {
  background-image: url("../images/CUTC-2010-8-tint.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: middle;
  height: 400px;
}

#static-photo h1{
  font-size: 40px;
  text-align: center;
  margin: 0px;
  padding-top: 140px;
}

#static-photo h2{
  font-size: 30px;
  text-align: center;
  margin: 0px;
  padding-top: 10px;
}


/*************************
****** Events CSS ****
**************************/

#events {
  background-color: #fff;  
  position: relative;  
  width: 100%;
  display: flex;
  padding-bottom: 70px;
}

#events a {
  text-decoration: underline;
  color:#c8190f; 
}

#events p {
  font-size: 18px;
  color: #000000;
}

#events .grey h4{
  color: #4A4A4A;
}

.whycons {
  margin-bottom: 0px; 
  padding-left: 80px;
  padding-right: 80px;
}

.whycons p {
  padding-bottom: 20px;
  padding-top: 10px;
}

.whycons h2 {
  padding-left: 0px;
  color: #c8190f;
}

#events h3 {
  font-size: 25px;
  color: #c8190f;
}

#events h4 {
  line-height: 40px;
  font-size: 25px;
  color: #c8190f;
  padding-left: 10px;
}

.whycons img {
  height: 60px;
  width: 60px;
  /*margin-left: 20px;*/
}


/*************************
******Sponsors CSS****
**************************/

#sponsor {
  background-color: #1e1e1e;
  background-image: url("../images/theme-image-tint.png");
  background-position:50% 0;
  background-size: cover;
  background-repeat:no-repeat;
  position: relative;
  background-attachment: fixed;
  padding: 15px 15px 70px;
}

#sponsor h2 {
  color: #fff;
}

#sponsor img {
  padding: 20px;
  margin: auto;
  display: block;
}

#sponsor p {
  padding-top: 30px;
  text-align: center;
}

#sponsor a {
  color: #c8190f;
  text-decoration: underline;
}
  
#sponsor a:hover {
  color:#630c07
}

#sponsor .row {
  margin-bottom: 20px;
}

#sponsor .title img{
  margin-top:-130px;
  height: 250px;
}

#sponsor .silver img{
  height: 130px;
}

#sponsor .bronze img{
  height: 100px;
}

#sponsor .label {}



/*************************
******Contact CSS****
**************************/

#contact {  
  background-color: #C34C39;
  /*background-image: url("../images/event-bg.jpg");*/
  background-position: center bottom;
  background-size: contain;
  background-repeat:no-repeat;
  position: relative;
  overflow: hidden;
  padding: 15px 15px 70px;
}

#contact h2 {
    color: #fff;
}

#contact p{
  font-size: 20px;
}

#contact a {
  color: #eebab7;
  text-decoration: underline;
}
  
#contact a:hover {
  color:#e36887
}

#contact .fa-envelope{
  color: #212121;
  font-size: 250px;
  margin-top: -130px;
  padding-right: 20px;
}


/*************************
******Footer CSS****
**************************/

#footer {
  background-color: #212121;
  background-image: url("../images/footer-bg2.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  font-size: 20px;
  padding: 50px 0;
  text-align: center;
  height: 180px;
}

#footer a {
  color:#c8190f
}

#footer a:hover {
  color:#630c07
}

.footer-top {
  display: block;
  overflow: hidden;
}

.social-icons 
.fa-facebook,
.fa-twitter,
.fa-google-plus,
.fa-youtube,
.fa-instagram,
.fa-envelope{
  color: #c8190f
}

.social-icons 
.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus:hover,
.fa-youtube:hover,
.fa-instagram:hover,
.fa-envelope:hover {
  color: #630c07
}


