/* lg */ 
@media (min-width: 1200px) {
  
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  #home h1{
    font-size: 9rem;
  }

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {

  #home h1{
    font-size: 7rem;
  }

  #home 
  .home-content
  {
    background-position: 80% 20%;
  }

  /*Remove circuit background thinger*/
  #about, #twitter, #testimonials, #speakers, #events, #sponsors {
    background-image: none;
  }

}

/* xs */
@media (max-width: 767px) {

  #home h1{
    font-size: 5rem;
  }

  #home h3{
    letter-spacing: 15px;
  }

  #home 
  .home-content
  {
    background-position: 85% 20%;
  }

  .about-icon-row img {
    height: 60px;
  }

  .about-icon-row div{
    padding-left: 0px;
    padding-right: 0px;
  }

  .whycons {
    padding-left: 20px;
    padding-right: 20px;
  }

  #static-photo {
  }

  #static-photo h1{
    font-size: 24px;
  }

  #static-photo h2{
    font-size: 20px;
  }

  #faq {
    padding-left: 15%;
    padding-right: 15%;
  }

  #footer {
    font-size: 16px;
  }

  .contact-section {
    background-position: left 0 bottom 0;
    background-size: cover;
  }

  .about-content {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .single-speaker {
    width: 100%
    padding: 0% 10% 15% 10%;
  }

  .single-speaker h4{
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .single-speaker h5{
    margin-top: 5px;
  }

  /*Remove circuit background thinger*/
  #about, #twitter, #testimonials, #speakers, #events, #sponsors {
    background-image: none;
  }
  

}

/* XS Portrait */
@media (max-width: 479px) {

  .navbar-right li a {
    font-size: 15px;
    margin: 25px 7px;
  }

  #home .caption {
    padding-top: 15%;
  }

  #home h1{
    font-size: 4rem;
  }

  #home h3{
    letter-spacing: 10px;
  }

  #countdown h2 {
    font-size: 2rem;
  }

  #countdown p {
    font-size: 1rem;
  }

  .about-content {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .about-content p {
    font-size: 15px;
  }

  #sponsor {
    background-position: right 0 bottom;
  }

  #contact p{
    font-size: 18px;
  }

  #contact .fa-envelope{
    font-size: 150px;
    margin-top: -70px;
  }
 
  #footer {
    font-size: 14px;
  }

  /*Remove circuit background thinger*/
  #about, #twitter, #testimonials, #speakers, #events, #sponsors {
    background-image: none;
  }

}

